extends layout

block content
    article
        .column
            .row
                h1 Currency Exchange
            .row
                .box
                    h1 Wallet
                    br
                    h1 Welcome #{username}
                    h1 Your Current Balance
                    br
                    if accounts
                        select.form-select(aria-label='Currencies', name='currencies', id='selectedCurrency')
                            each account in accounts
                                if account && account.currency
                                    option(value=account.currency, selected=(account.currency === selectedCurrency)) #{account.currency}
                                        p=account.balance
                    br
                    br
                    .row
                        a(href='/addfunds')
                            button#Add.circle-button.btn.btn-info.btn-md(formaction='/addfunds' type='submit' value='Add') +
                        a(href='/withdraw')
                            button#Withdraw.circle-button.btn.btn-info.btn-md(type='submit') -
                        a(href='/addfunds')
                            button#Transfer.circle-button.btn.btn-info.btn-md(type='submit') -&gt;

                .box
                    form(action='/convertcurrency' method='post')
                        h1 Conversion
                        br
                        label.text-info From Currency:
                        br
                        if accounts
                            select.form-select(aria-label='Currencies', name='Fromcurrency')
                                each account in accounts
                                    if account && account.currency
                                        option(value=account.currency, selected=(account.currency === selectedCurrency)) #{account.currency}
                        br
                        br
                        label.text-info Amount:
                        input#amount(type='number' name='amount' placeholder='Enter amount' step='0.01')
                        br
                        br
                        label.text-info To Currency:
                        select.form-select(aria-label='Currencies', name='Tocurrency')
                            each currency in currencies
                                option(value=currency.currency, selected=(currency.currency === selectedCurrency)) #{currency.currency}
                        br
                        br
                        label.text-info Received Amount:
                        input#receive(type='number' name='receive' placeholder='Receiving' step='0.01' value=finalBalanceAsNumber)
                        br
                        br
                        button.btn.btn-info.btn-md(type='convert' onclick='/convertcurrency' name='convert' value='convert') Convert



                    

        footer.footer.bg-dark.text-light.text-center.py-3
            | &copy; 2023 Currency Exchange 

