extends layout

block content
  article
    .column
      .row 
        .column
          h1 Product Details
          .box 
            p= productA.name
            img.small-image(src=productA.image, alt=productA.name)   
          .box 
            p Price: € #{productA.price}
            p Rating: #{productA.rating}
            p Details: #{productA.features}
            a(href='/homepage') Back to Shop

        .column
          h1 Reviews
          each review in productA.reviews
            .box
              p=review.author
              p=review.rating 
              p=review.timestamp 
              p=review.reviewText
              br
    block append footer
        include footer.pug








